.block1{
    background-color:#ef5350;
}

.block2{
    background-color:#00e676;
}

.block3{
    background-color:#64b3f6;
}

.block4{
    background-color:#4db6ac;
}

.text-center{
    font-size:30px;
    height:40px;
}
